body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.hdr {
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-left {
  color: #4d5ae5;
}
.header-logo {
}
.header-menu-list {
}
.header-menu-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-link:hover {
  color: #404bbf;
}

.header-menu-link:focus {
  color: #404bbf;
}

.header-menu-link:active {
  color: #404bbf;
}

.header-address-list {
}
.header-address-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.header-address-link:hover {
  color: #404bbf;
}

.header-address-link:focus {
  color: #404bbf;
}

.sec-one {
  background: #2e2f42;
}

.sec-one-title {
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.sec-one-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
}

.sec-one-btn:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

.sec-one-btn:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

.sec-two {
}
.sec-two-title {
}
.sec-two-list {
}
.sec-two-item {
}

.sec-two-item p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.sec-two-item-hd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.sec-three {
}
.sec-three-title {
}
.sec-three-list {
}

.sec-three-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.sec-three-item p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.sec-three-img {
}

.sec-three-hd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.sec-portf {
}
.sec-portf-title {
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.sec-portf-list {
}
.sec-portf-item {
  background: #fff;
}

.sec-portf-item p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.sec-portf-img {
}
.sec-portf-hd {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.ftr {
  background: #2e2f42;
}

.ftr a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.ftr-left {
  color: #4d5ae5;
}

.ftr p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
